<h1> Where Knife Collectors Come </h1>

<form action="/users/signup" method="POST">
    Username: <input type=text name="username">
    Email: <input type=text name="email">
    Password: <input type=password name="password_digest">
    <input type=submit>
</form>