<h1>Enter infromation to continue </h1>

<form action="/users" method="POST">
    Username: <input type=text name="username">
    Email: <input type=text name="email">
    Password: <input type=password name="password">
    <input type=submit name="submit">
</form>