<h1>Collection form </h1>

<form action="/collections" method="POST">
    Brand: <input type=text name="brand">
    Style: <input type=text name="style">
    Color: <input type=text name="color">
    Size: <input type=number name="size">
    Price: <input type=number name="price">
    <input type=submit>
</form>

